body { 
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

#header {
    background-image: url('../images/movies.jpeg'); 
    width: 100%; 
    height: 40%; 
    position: absolute; 
    top:0; 
    right: 0; 
    left: 0; 
    min-width: 800px;
    min-height: 40%;
    box-shadow: 10px 3px 5px #000;
}

#home{
    position: relative;
    margin-top: 17%;
    width: 100px;
}

#homeImage{
    min-height: 200px;
}

#options {
    width: 60%;
    height: 300px;
    background-color: #0E2334;
    margin: 0 auto 0 auto;
    min-width: 800px;
    box-shadow: 2px 3px 3px 2px #000;
    text-align: center;
}

.inputs{ 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    background-color: #EAEAEA; 
    background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
    border: 1px solid #0099ff;
    color: #444;
    font-size: 1.2em; 
    padding-left: 10px;
    width:65%;
    height: 35px;
    margin-top: 25px;
} 

.search_button{
    background: #4D78C6;
    background-image: -webkit-linear-gradient(top, #4D78C6, #2C327C);
    background-image: -moz-linear-gradient(top, #4D78C6, #2C327C);
    background-image: -ms-linear-gradient(top, #4D78C6, #2C327C);
    background-image: -o-linear-gradient(top, #4D78C6, #2C327C);
    background-image: linear-gradient(to bottom, #4D78C6, #2C327C);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 2px 18px #0F2231;
    -moz-box-shadow: 0px 2px 18px #0F2231;
    box-shadow: 0px 2px 18px #0F2231;
    font-family: Georgia;
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    border: solid #0E2130 0px;
    text-decoration: none;
}

.search_button:hover {
    background: #2269e3;
    background-image: -webkit-linear-gradient(top, #2269e3, #1b29bf);
    background-image: -moz-linear-gradient(top, #2269e3, #1b29bf);
    background-image: -ms-linear-gradient(top, #2269e3, #1b29bf);
    background-image: -o-linear-gradient(top, #2269e3, #1b29bf);
    background-image: linear-gradient(to bottom, #2269e3, #1b29bf);
    text-decoration: none;
}

.search_button:active{
    padding: 8px 13px 6px;
}

form p{
    color: white;
    font-size: 1.5em;
    margin: 15px 0 0 0;
}

#footer {
    width: 100%;
    height: 40px;
    color: white;
    margin-top: 50px;
    position: absolute;
    right: 0; 
    left: 0; 
    background-color: #0D212F;
    box-shadow: 10px 3px 5px 5px #000;
}

#footer p{
    padding-left: 10px;
    float: left;
    min-width: 800px;
}